.body {
    max-width: 1440px;
    margin: 0px;
    padding: 0px;
    position:relative;
}
.header {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .header {
        width: 428px;
        height: 75px;
    }
}
.header__logo {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 137px;
    margin-top: 22px;
}
.header__logo--slogan {
    display:flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 248px;
}
.header--name {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    color: #000000;
}
.header--slogan {
    width: 155px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-block: 0px;
    margin-top:4px;
}
.header__menu {
    display: flex;
    flex-direction: row;
    margin-top:32px;
    justify-content: space-between;
}
/* display on phone */
@media only screen and (max-width: 600px) {
    .header__menu {display: none}
}
.header__menu--ourwork {
    display:flex;
    width: 74px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #00A3FF;
    margin-right: 46px;
    
}
.header__menu--pricing {
    width: 48px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-right: 46px;
    text-decoration-line: none;
}
.header__menu--business {
    width: 61px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-right: 46px;
    text-decoration-line: none;
}
.header__menu--contact {
    width: 57px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-right: 46px;
    text-decoration-line: none;
}
.header__menu--jobs {
    width: 37px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-right: 50px;
    text-decoration-line: none;
}
.header__btn {
    padding: 16px 54px;
    margin-top:16px;
    border-radius: 7px;
    border:#00A3FF;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #00A3FF;
}
/* display on phone */
@media only screen and (max-width: 600px) {
    .header__btn {
        width: 75px;
        height:16px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #2C2C2C;
    }
}
.body1 {
    display:flex;
    flex-direction: row;
    margin-top: 45px;
    position: relative;
}
.body1__left {
    display:flex;
    flex-direction: column;
    margin-left:146px;
}
.body1__left1 {
    display:flex;
    flex-direction: row;
    margin-top:126px;
}
.body1__left1--work {
    display:flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
}
.body1__left1--line {
    margin-left:10px;
    align-items: center;
}
.body1__left2 {
    width: 272px;
    height: 96px;
    left: 146px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top:34px;
}
.body1__left3 {
    width: 351px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-top:17px;
}
.body1__left4 {
    display:flex;
    margin-top:39px;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    background: #FFFFFF;
    border: 1.254px solid #00A3FF;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    color: #00A3FF;
    width: 130px;
    height: 53px;
}
.body1__left5 {
    display:flex;
    margin-top: 119px;
    width: 40px;
    justify-content: space-between;
}
.body1__cen {
    display:flex;
    width: 692px;
    height: 550px;
    position: absolute;
    left:310px;
    z-index: -1;
}
.body1__right {
    display:flex;
    flex-direction: column;
    position: absolute;
    left:1022px;
    right:146px;
}
.body1__right--img1 {
    display:flex;
    width: 272px;
    height: 265px;
    margin-bottom: 20px;
}
.body1__right--img2 {
    display:flex;
    width: 272px;
    height: 265px;
}
.body2 {
    display:flex;
    flex-direction: row;
    margin-top: 109px;
    align-items: center;
}
.body2__line {
    display:flex;
    width: 216px;
    height: 2px;
    margin-left:146px;
}
.body2__work {
    display:flex;
    width: 47px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-left:26px;
}
.body3 {
    display:flex;
    flex-direction: row;
    margin-top:46px;
    position:relative;
}
.body3__img {
    display:flex;
    position:relative;
    width: 1148px;
    height: 361px;
    left: 146px;
}
.body3__slogan {
    display:flex;
    flex-direction: column;
    position:absolute;
    top: 196px;
    left:1002px;
    background-color: #FFFFFF;
    width: 292px;
    height: 165px;
}
.body3__slogan--big {
    display:flex;
    width: 272px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top:28px;
    margin-left:20px;
}
.body3__slogan--small {
    display:flex;
    width: 293px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-top:17px;
    margin-left:20px;
}
.body4 {
    display:flex;
    flex-direction: row;
}
.body4__left {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left:146px;
}
.body4__right {
    display:flex;
    flex-direction: column;
    margin-top: 83px;
    margin-left:20px;
}
.body4__left--img {
    width: 564px;
    height: 273px;
}
.body4__left--bigtext {
    width: 272px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 21px;
}
.body4__left--smalltext {
    width: 293px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-top: 14px;
}
.body4__right--img {
    width: 564px;
    height: 273px;
}
.body4__right--bigtext {
    width: 272px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 21px;
}
.body4__right--smalltext {
    width: 293px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-top: 14px;
}
.body5 {
    display:flex;
    flex-direction: row;
    margin-top:63px;
}
.body5__left {
    width: 1002px;
    height: 273px;
    margin-left: 0px;
}
.body5__right {
    display:flex;
    flex-direction: column;
    margin-left:20px;
}
.body5__right--bigtext {
    width: 272px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
}
.body5__right--smalltext {
    width: 272px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E688B;
    margin-top: 17px;
}
.body6 {
    display:flex;
    flex-direction: row;
    margin-top:51px;
}
.body6__left {
    display:flex;
    flex-direction: column;
    margin-left:146px;
}
.body6__left--bigtext {
    width: 272px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5px;
    line-height: 97.5%;
    letter-spacing: -0.02em;
    color: #000000;
}
.body6__left--smalltext {
    width: 272px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;  
    color: #5E688B;
    margin-top:17px;
}
.body6__right {
    display:flex;
    margin-left:20px;
    width: 1002px;
    height: 273px;
}
.body7 {
    text-align: center;
        margin-top:83px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 97.5%;
        letter-spacing: -0.02em;
        color: #000000;
        margin-block: 0px;
        margin-top: 83px;
}
.body8 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #5E688B;
        margin-block: 0px;
        margin-top:17px;
}